<!DOCTYPE html>
<!-- FOOTER -->
<footer th:fragment="footer" class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a id="user-manual" href="/user-manual" class="hover:underline me-4 md:me-6" data-translate="footer.how_to">How to</a>
        </li>
        <li>
            <a href="https://oif.gov.hu/storage/media/Kultur%C3%A1lis%20Ismereti%20Vizsga/magyar-kulturalis-ismereti-vizsga-segedanyag.pdf" class="hover:underline me-4 md:me-6" data-translate="footer.study_guide">Study Guide</a>
        </li>
        <li>
            <a href="https://oif.gov.hu/tajekoztatok/magyar-kulturalis-ismereti-vizsga" class="hover:underline me-4 md:me-6" data-translate="footer.exam_info">Exam Info</a>
        </li>
        <li>
            <a href="mailto:posseidon@gmail.com" class="hover:underline" data-translate="footer.contact">Contact</a>
        </li>
    </ul>
</footer>