<!-- HEADER -->
<nav th:fragment="header" class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a id="app-logo" href="/quiz/categories" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Q</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" data-dropdown-toggle="language-dropdown-menu"
                class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                <span id="selected-language-flag">
                    <svg class="w-5 h-5 rounded-full me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#3c3b6e" d="M0 0h512v512H0z"/>
                        <path fill="#fff" d="M128 128h256v256H128z"/>
                        <path fill="#b22234" d="M160 160h192v192H160z"/>
                        <path fill="#fff" d="M192 192h128v128H192z"/>
                        <path fill="#3c3b6e" d="M224 224h64v64h-64z"/>
                    </svg>
                </span>
                <span id="selected-language-text">English (US)</span>
            </button>
            <!-- Dropdown -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700"
                id="language-dropdown-menu">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="#" data-lang="en"
                            class="language-option block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">English</a>
                    </li>
                    <li>
                        <a href="#" data-lang="hu"
                            class="language-option block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Magyar</a>

                    </li>
                    <li>
                        <a href="#" data-lang="vi"
                            class="language-option block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Tiếng
                            Việt</a>
                    </li>
                </ul>
            </div>
            <button type="button"
                class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <svg id="user-logo" class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">Bonnie & Clyde</span>
                    <span class="block text-sm  text-black dark:text-white truncate">bonnie@azurewebsites.com</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="https://oif.gov.hu/tajekoztatok/magyar-kulturalis-ismereti-vizsga" target="_blank"
                            rel="noopener noreferrer"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            <span id="exam-information-link" th:text="#{nav.exam_information}" data-translate="nav.exam_information">Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://oif.gov.hu/storage/media/Kultur%C3%A1lis%20Ismereti%20Vizsga/magyar-kulturalis-ismereti-vizsga-segedanyag.pdf"
                            target="_blank" rel="noopener noreferrer"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            <span id="exam-material-link" th:text="#{nav.exam_material}" data-translate="nav.exam_material">Material</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>